<h1>Cocktails list</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>

<br>

<%= link_to 'Create your own cocktail', new_cocktail_path, class: "btn btn-primary"  %>
